---
// Props
interface Props {
    amiibo: {
        name: string;
        image: string;
        gameSeries: string;
        head: string;
        tail: string;
    };
}
const amiiboId = Astro.props.amiibo.head + Astro.props.amiibo.tail;
---

<div id={amiiboId} class="amiibo-card">
    <a href=`/amiibo/${amiiboId}`>
        <img src={Astro.props.amiibo.image} alt={Astro.props.amiibo.name} />
        <h3>{Astro.props.amiibo.name}</h3>
        <p>{Astro.props.amiibo.gameSeries}</p>
    </a>
</div>
